body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  background-color: #fdfdf0;
  color: #050505;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007b7f;;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fdfdf0;
  position: relative;
}

.logo::after {
  content: "";
  display: block;
  width: px;
  height: 12px;
  background-color: #fee58c;
  margin-top: 10px;
}

nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  background-color: #fdfdf0;
  color: #271923;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover,
nav a.active {
  background-color: #fee58c;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

main {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem 2rem 2rem; /* top, right, bottom, left */
  background-color: #fdfdf0;
  color: #050505;
}

main h2:first-of-type {
  margin-top: 0.5rem; /* ou même 0 si tu veux coller */
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2 {
  color: #007b7f;
  font-weight: bold;
  margin-top: 2rem;
}

p {
  font-size: 1rem;
  font-weight: normal;    
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #050505;
}

main ul li {
  font-weight: normal;
  color: #050505;
  font-size: 1rem;
  margin-bottom: 0rem;
  line-height: 1.7;
}

footer, footer * {
  text-align: center;
  color: #606060 !important;
  font-weight: normal;
}

footer a {
  color: #606060;
  text-decoration: underline;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    width: 100%;
    justify-content: flex-start;
    margin-top: 1rem;
  }
}

.vis-item.cat-gouvernance-en-sante-publique-stewardship {
  background-color: #cbebca;
  color: black;
}

.vis-item.cat-engagement-communautaire-et-participation-sociale {
  background-color: #3ab2d5;
  color: white;
}

.vis-item.cat-planification-financement-et-gestion-multisectorielle {
  background-color: #12a1be;
  color: white;
}

.vis-item.cat-prevention-et-detection-precoce-des-maladies {
  background-color: #810c15;
  color: white;
}

.vis-item.cat-acces-aux-produits-et-technologies-de-sante {
  background-color: #ca6ede;
  color: white;
}

.vis-item.cat-promotion-de-la-sante {
  background-color: #6a8610;
  color: white;
}

.vis-item.cat-protection-de-la-sante {
  background-color: #45452a;
  color: white;
}

.vis-item.cat-qualite-et-equite-des-services-de-sante {
  background-color: #659529;
  color: white;
}

.vis-item.cat-recherche-evaluation-et-developpement-des-connaissances {
  background-color: #018948;
  color: white;
}

.vis-item.cat-developpement-de-la-main-doeuvre-en-sante-publique {
  background-color: #8f80d8;
  color: white;
}

.vis-item.cat-surveillance-et-suivi-de-la-sante-publique {
  background-color: #eceab1;
  color: black;
}

.vis-item.cat-gestion-des-urgences-de-sante-publique {
  background-color: #2f7329;
  color: white;
}

.vis-item.cat-contexte {
  background-color: #659579;
  color: white;
}
